<!-- header -->
<app-header></app-header>

<!-- content -->

<div class="row">
  <div class="col-12 col-lg-8 p-3">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        *ngIf="videoId"
        class="embed-responsive-item"
        [src]="videoUrl"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="col-12 col-lg-4 p-3">
    <ul class="unstyled-list overflow-auto video-small-list">
      <li *ngFor="let video of videos$ | async" (click)="openVideo(video.url)">
        <img
          width="50"
          class="img-fluid"
          src="assets/images/play.png"
          alt="play"
        />
        <div class="text-center p-2" style="width: 100% !important">
          {{ video.name }}
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>
