<div *ngIf="status$ | async as status">
  <p *ngIf="status == 'init'" class="alert alert-success">Init !</p>
  <p *ngIf="status == 'loading'" class="alert alert-success">Loading!!!</p>
  <p *ngIf="status == 'success'" class="alert alert-success">Success</p>
</div>

<div class="container" *ngIf="videos$ | async as videos">
  <div *ngFor="let video of videos">
    >> {{ video.id }} - {{ video.name }} at
    {{ video.createdAt | date: 'medium' }}
  </div>
</div>

<div *ngIf="error$ | async as error">
  <p *ngIf="error" class="alert alert-danger">
    {{ error }}
  </p>
</div>
